.custom-height {
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}

.custom-card{
    background-color: rgb(139, 125, 107);
    min-width: 150px; 
    width: 25%;
    cursor: pointer;
    transition: transform .3s ease;
}
.custom-card:hover{
    transform: translateY(-5px);
    
}