

.custom-card{
  background-color: rgb(139, 125, 107);
  min-width: 180px;
  max-width: 360px; 
  min-height: 200px;
  max-height: 200px; 
  width: 25%;
  height: 25%;
  cursor: pointer;
  transition: transform .3s ease;
}
.custom-card:hover{
  transform: translateY(-5px);
  
}

::-webkit-scrollbar {
  width: 5px; 
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 5px;
}